<!--раздел авторизации-->
<div>
     <div align="center">{{preload_and_other.preload_and_other.author}}</div>
     <div>
         <div align="center">
             <fieldset style="padding:0;">
                 <label style="display:block; padding-top: 10px">{{preload_and_other.preload_and_other.e_mail}}</label>
                 <input ng-model="answer1_login" required  ng-pattern="/.+@.+\..+/i" style="display:block;" type="text" name="login">
                 <label style="display:block; padding-top: 10px">{{preload_and_other.preload_and_other.password}}</label>
                 <input ng-model="answer1_text"  style="display:block;" type="text" name="password">
             </fieldset>
             <div style="width:100px; margin-bottom: 10px; color:green; cursor: pointer;" align="center" ng-click="selectFunction(answer1_login,answer1_text)">{{preload_and_other.preload_and_other.auth_select}}</div>
             <label ng-if="flag_function()" style="display:block; padding-top: 10px">{{preload_and_other.preload_and_other.auth_welcome}}     {{answer1_login}}</label>
         </div> 
     </div>
</div>

<div ui-view></div>