<div>
     <div align="center">Авторизация!</div>
     <div>
         <div align="center">
             <fieldset style="padding:0;">
                 <label style="display:block; padding-top: 10px">E-mail</label>
                 <input ng-model="answer1.login" style="display:block;" type="text" name="username">
                 <label style="display:block; padding-top: 10px">Password</label>
                 <input ng-model="answer1.text" id="mail" style="display:block;" type="text" name="password">
             </fieldset>
             <div style="width:100px; margin-bottom: 10px; color:green;" align="center" ng-click="selectFunction()">Select!</div>
         </div> 
     </div>
</div>

<div ui-view></div>